/* .user-card-content-display{
    display: inline ; 
    flex-wrap: nowrap; 
    flex-direction: row;
} */

.user-card-content-display {
  display: flex;
  justify-content: space-evenly;
}

.userName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 20px !important;
}
